# Build artifacts
build/
*.elf
*.map
*.bin
*.hex

include/secret.h

# ESP-IDF project-specific files
sdkconfig
sdkconfig.old
sdkconfig.defaults
sdkconfig.seeed_xiao_esp32s3
sdkconfig.seeed_xiao_esp32s3.old

# PlatformIO (if present)
.pio/
.pioenvs/
.vscode/
.clangd/
.clang-tidy

# ESP-IDF Python tools
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE/editor settings
.qodo
.vscode/
.idea/
*.swp
*.swo

*.uf2

Server/model/*
Server/model_v2/*
Server/ML-SERVER/*

# Secrets
.env
env.py
tf-env/

# MycroPython filesystem fioles (Optional, if syncing board via rshell/ampy/mpremote)
*.mpy
*.bin
*.hex
*.img

# OS Files
.DS_Store
*.orig

# CLion or other IDE settings
.idea/
.vscode/
